<ion-header>
	<ion-toolbar>
		<ion-title>login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="login">
		<ion-card>
			<ion-card-content>
				<ion-item>
					<ion-label position="floating">Email-id</ion-label>
					<ion-input [(ngModel)]="email" placeholder="enter email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Password</ion-label>
					<ion-input
						[(ngModel)]="password"
						type="password"
						placeholder="enter password"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-button color="primary" (click)="onLogin(email, password)"
						>Login</ion-button
					>
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
